@use 'config'as c;
@use 'mixin'as m;

@media (min-width: 960px) {

    .wrapper {
        padding: 50px;
    }

    .hero {
        height: calc(100vh - 100px);

        .title {
            top: 33%;
        }
    }

    // ****************** HEADER ************************
    .hero {
        .header {
            div.main-header {
                nav {
                    display: flex;
                    flex-direction: row;

                    ul {
                        display: flex;
                        align-items: center;
                        margin: 0;

                        li {
                            display: inline-block;
                            list-style: none;

                            &:nth-of-type(n+2) {
                                margin-left: 1.5rem;
                            }

                            a {
                                position: relative;
                                padding: 0.5rem 0.5rem;
                                font-weight: 400;
                                color: c.$whiteFont;
                                text-decoration: none;

                                &::before {
                                    position: absolute;
                                    content: '';
                                    right: 0;
                                    bottom: 2px;
                                    width: 100%;
                                    height: 1px;
                                    background-color: c.$bgWhite;
                                    transform-origin: center;
                                    transform: scaleX(0);
                                    transition: transform 0.3s;
                                }

                                &:hover::before {
                                    transform: scaleX(0.9);
                                }
                            }
                        }
                    }

                    //* ************** Humberger Button *********************
                    .menu-button {
                        display: none;
                    }
                }

                //**************** Header Nav Fixed ***********************
            }

            &.header-nav-fixed {
                width: calc(100% - 100px);
            }
        }
    }

    //* ************** SmartPhone Menu *********************


    // **************** Scroll Button **********************


    // ********************************************************
    // ******************* Section 共通 ***********************
    // ********************************************************


    // ********************************************************
    // *********************** SAMPLE *************************
    // ********************************************************

    .sample {
        .sample-box {
            max-width: 700px;

            p {

                span {
                    display: inline-block;
                }

                br {
                    display: inline;
                }
            }

            a {
                &:hover {
                    @include m.buttonHovered;
                }
            }
        }
    }

    // ********************************************************
    // *********************** ABOUT **************************
    // ********************************************************

    .about {
        .flex-box {
            max-width: 700px;
        }
    }

    .about {
        .flex-box {
            .about-right {
                margin-top: 50px;

                .fade-target {
                    // animation-delay: 0.3s;

                    .description {
                        p {
                            br {
                                display: inline;
                            }
                        }
                    }
                }
            }
        }
    }



    // ********************************************************
    // ********************** FOOTER **************************
    // ********************************************************
    .footer {
        .footer-image {
            .footer-inner {
                .inner-item {
                    ul {
                        li {
                            font-size: 0.9rem;

                            a {
                                &:hover::before {
                                    transform: scaleX(1);
                                }
                            }
                        }
                    }
                }
            }
        }
    }


    // ********************************************************
    // **************** Sample/index.html *********************
    // ********************************************************

    .sample-hero {
        height: 350px;

        .title {
            top: 50%;
            transform: translateY(-50%);
        }
    }

    section#sample-detail {
        width: 100%;

        .container {
            .flex-box {
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;
                // margin-top: 1rem;

                .flex-outer {
                    max-width: 450px;

                    .flex-inner {
                        &:hover .image img {
                            transform: scale(1.1);
                        }

                        .link {
                            ul {
                                li {
                                    a {
                                        &:hover {
                                            @include m.buttonHovered;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }



    // ********************************************************
    // ************** Fade Slide Animation ********************
    // ********************************************************
    section#sample-detail {
        .container {
            .flex-box {
                .flex-outer {

                    &:nth-of-type(3n -2) {
                        animation-delay: 0.1s;
                    }

                    &:nth-of-type(3n -1) {
                        animation-delay: 0.2s;
                    }

                    &:nth-of-type(3n) {
                        animation-delay: 0.3s;
                    }
                }
            }
        }
    }

}