@use 'config'as c;
@use 'mixin'as m;


@media (min-width: 577px) {
    .wrapper {
        padding: 20px;
    }

    .hero {
        height: calc(100vh - 40px);

        .title {
            top: 28%;

            p {
                text-align: left;
            }
        }
    }

    // ****************** HEADER ************************
    .hero {
        .header {
            div.main-header {
                padding: 0 2rem;

            }

            //**************** Header Nav Fixed ***********************

            &.header-nav-fixed {
                width: calc(100% - 40px);
            }
        }
    }

    //* ************** SmartPhone Menu *********************
    .hero {
        .header {
            div.sub-header {
                padding: 0 2rem;

                nav {
                    ul {
                        li {
                            a {
                                font-size: 1rem;
                            }
                        }
                    }
                }
            }
        }
    }


    // ********************************************************
    // ******************* Section 共通 ***********************
    // ********************************************************


    // ********************************************************
    // *********************** SAMPLE *************************
    // ********************************************************


    // ********************************************************
    // *********************** ABOUT **************************
    // ********************************************************


    // ********************************************************
    // ********************** FOOTER **************************
    // ********************************************************


    // ********************************************************
    // **************** Sample/index.html *********************
    // ********************************************************
    .sample-hero {
        height: 350px;
        // background: url(../images/sample01.jpg);
        // @include m.bg-image;

        .title {
            top: 50%;
            // transform: translateY(-50%);
        }
    }

    section#sample-detail {
        margin: 0 auto;
        width: 75%;
    }


    // ********************************************************
    // ************** Fade Slide Animation ********************
    // ********************************************************

}