@use 'config'as c;
@use 'mixin'as m;


@media (min-width: 1160px) {

    
    // ****************** HEADER ************************
    

    // ********************************************************
    // ******************* Section 共通 ***********************
    // ********************************************************
    

    // ********************************************************
    // *********************** SAMPLE *************************
    // ********************************************************
    

    // ********************************************************
    // *********************** ABOUT **************************
    // ********************************************************
    
    .about {
        .flex-box {
            flex-direction: row;
            max-width: 1080px;
    
            .about-left {
                width: 52%;
            }
        }
    }
    
    .about {
        .flex-box {
            .about-right {
                width: 44%;
                margin-top: 0;
    
                .fade-target {
                    animation-delay: 0.3s;

                    .description {
                        text-align: left;
                    }
                }
            }
        }
    }
    
    
    
    // ********************************************************
    // ********************** FOOTER **************************
    // ********************************************************
    


    // ********************************************************
    // **************** Sample/index.html *********************
    // ********************************************************
    
    .sample-hero {
        height: 350px;
    
        .title {
            top: 50%;
            transform: translateY(-50%);
        }
    }
    
    section#sample-detail {
        .container {
            .flex-box {
                justify-content: flex-start;
                // margin-top: 1rem;
    
                .flex-outer {
                    width: 33.33%;
                }
            }
        }
    }
    
    
    // ********************************************************
    // ************** Fade Slide Animation ********************
    // ********************************************************
    
}